@import "colors";
@import "sizes";

body{
  font-family: 'Poppins', sans-serif;
  font-size: $texto;
  color: $black;
  .container-fluid{
    padding-left: 0%;
    margin-left: 0%;
    .nav__logo{
      width: 45px;
    }
    .nav__menu__lista a:hover{
      transition: 500ms;
      transform:scale(1.2);
    }
    .nav__menu__desplegable{
      background: $green;
      border-radius: 2px solid;
      border-color: $light_blue;
    }
    .productos__ps{
      background-image: url(../img/playStation/logoPlay.jpg);
      height: $imgChicas;
      background-size: cover;
      background-position: $centrar;
      margin-top: $margin;
    }
    .productos__xbox{
      background-image: url(../img/xbox/logoxbox.jpg);
      height: $imgChicas;
      background-size: cover;
      background-position: $centrar;
      margin-top: $margin;
    }
    .producto1{
      background-image: url(../img/games/residentEvil.jpg);
      background-size: cover;
      background-position: $centrar;
      margin-top: $margin;
      @media (min-width: 992px){
        height: 800px;
      }
      @media (min-width: 1024px){
        height: 900px;
      }
      .producto1__titulo{
        color: $white;
        font-family: 'Anton', sans-serif;
        font-size: 60px;
        text-align: $centrar;
        @media (min-width: 320px){
          font-size: 20px;
        }
      }
      .producto1__parrafo{
        color: $white;
        font-family: 'Anton', sans-serif;
        font-size: 30px;
        text-align: $centrar;
        padding-top: 650px;
        @media (min-width: 320px){
          font-size: 20px;
          padding-top: 450px;
        }
      }
      .producto1__link{
        display: flex;
        justify-content: center;
        color: $white;
        font-size: 20px;
      }
    }
    .producto2{
      margin-top: 10px;
      background-image: url(../img/xbox/gamePass.jpg);
      background-size: cover;
      background-position: $centrar;
      margin-top: $margin;
      @media (min-width: 320px){
        height: 225px;
        background-position: top;
      }
      @media (min-width: 375px){
        height: 265px;
      }
      @media (min-width: 992px){
        height: 350px;
      }
      @media (min-width: 1024px){
        height: 550px;
      }
    }
    .producto2__info{
      background: $greenXbox;
      cursor: pointer;
      text-align: $centrar;
      @media (min-width: 320px){
        height: 250px;
      }
      .producto2__info__titulo{
        padding: 20px;
        font-family: 'Lexend Mega', sans-serif;
        color:white;
        @media (min-width: 320px){
          font-size: 20px;
        }
      }
      .producto2__info__parrafo{
        font-family: 'Lexend Mega', sans-serif;
        color:white;
        @media (max-width: 320px){
          font-size: 15px;
        } 
      }
      .producto2__info__link{
        font-family: 'Lexend Mega', sans-serif;
        color:white;
        padding-top: 10px;
        font-size: 18px;
      }
      .producto2__info__link:hover{
        color: $green;
      }
    }
    .producto3{
      margin-top: 10px;
      background-image: url(../img/playStation/psnPlus.jpg);
      background-size: cover;
      background-position: $centrar;
      margin-top: $margin;
      @media (min-width: 320px){
        height: 225px;
        background-position: top;
      }
      @media (min-width: 375px){
        height: 265px;
      }
      @media (min-width: 992px){
        height: 350px;
      }
      @media (min-width: 1024px){
        height: 550px;
      }
    }
    .producto3__info{
      background: $blue;
      cursor: pointer;
      text-align: $centrar;
      @media (min-width: 320px){
        height: 250px;
      }
      .producto3__info__titulo{
        padding: 30px;
        font-family: 'Lexend Mega', sans-serif;
        color:white;
        @media (min-width: 320px){
          font-size: 20px;
        }
      }
      .producto3__info__parrafo{
        font-family: 'Lexend Mega', sans-serif;
        color:white;
        text-align: center;
        @media (min-width: 320px){
          font-size: 15px;
        } 
      }
      .producto3__info__link{
        font-family: 'Lexend Mega', sans-serif;
        color:white;
        font-size: 20px;
      }
      .producto3__info__link:hover{
        color: $light_blue;
      }
    }
    .imgConsolas{
      background-image: url(../img/ps5-XboxX.jpg);
      background-size: cover;
      background-position: center;
      height: $imgChicas;
      margin-top: $margin;
      @media (min-width: 420px) and (max-width: 430px){
        @include size(410px, 300px);
      }
      @media (min-width: 370px) and (max-width: 380px){
        @include size(360px, 290px);
      }
      @media (min-width: 310px) and (max-width: 330px){
        @include size(305px, 280px);
      } 
      .imgConsolas__titulo{
        text-align: center;
        color: $green;
        font-size: 50px;
        font-family: 'Potta One', cursive;
        @media (min-width: 310px){
          font-size: $texto_mediano;
        } 
        @media (min-width: 370px){
          font-size: $texto_mediano;
        }
        @media (min-width: 420px){
          font-size: $texto_mediano;
        }
      }
    }
    .producto4{
      background-image: url(../img/games/hitman.jpg);
      height: 500px;
      background-size: cover;
      background-position: center;
      margin-top: $margin;
    }
    .producto5{
      background-image: url(../img/games/yakuza.jpg);
      height: 500px;
      background-size: cover;
      background-position: center;
      margin-top: $margin;
      margin-bottom: $margin;
    }

    .card{
      width: 80%;
    }
    .card__img:hover{
      transition: 500ms;
      transform:scale(1.2);
    }


    .footer{
      background: $black;
      color: $white;
      @media (min-width: 370px) and (max-width: 380px){
        @include size(375px, 180px);
      }
      @media (min-width: 310px) and (max-width: 330px){
        @include size(320px, 180px);
      } 
      .footer__registro{
        text-decoration: none;
        color: $light_blue;
        @media (min-width: 420px) and (max-width: 430px){
          font-size: $texto_mediano;
          margin-left: 5px;
        }
        @media (min-width: 370px) and (max-width: 380px){
          font-size: $texto_chico;
          margin-left: 5px;
        }
        @media (min-width: 310px) and (max-width: 330px){
          font-size: $texto_chico;
          margin-left: 5px;
        } 
      }
      .footer__lista{
        list-style: none;
      }
      .footer__lista__titulo{
        @media (min-width: 370px) and (max-width: 380px){
          font-size: $texto_mediano;
        }
        @media (min-width: 310px) and (max-width: 330px){
          font-size: $texto_mediano;
        } 
      }
      .footer__lista__parrafo{
        cursor: pointer;
        @media (min-width: 420px) and (max-width: 430px){
          font-size: $texto_chico;
        }
        @media (min-width: 370px) and (max-width: 380px){
          font-size: $texto_chico;
        }
        @media (min-width: 310px) and (max-width: 330px){
          font-size: $texto_chico;
        } 
      }
      .footer__lista__derechos{
        display: flex;
        justify-content: space-between;
      }
    }  
  }
}
