@import "colors";
@import "sizes";

body{
  font-family: 'Poppins', sans-serif;
  font-size: $texto;
  color: $black;
  .container-fluid{
    padding-left: 0%;
    margin-left: 0%;
    .nav__logo{
      width: 90%;
      @media (min-width: 420px) and (max-width: 430px){
        @include size(40px, 40px);
      }
      @media (min-width: 370px) and (max-width: 420px){
        @include size(30px, 30px);
      }
      @media (min-width: 310px) and (max-width: 370px){
        @include size(30px, 30px);
      }
    }
    .nav__menu__lista a:hover{
      transition: 500ms;
      transform:scale(1.2);
    }
    .nav__menu__desplegable{
      background: $green;
      border-radius: 2px solid;
      border-color: $light_blue;
    }
    .productos__ps{
      background-image: url(../img/playStation/logoPlay.jpg);
      height: $imgChicas;
      background-size: cover;
      background-position: center;
      margin-top: $margin;
      @media (min-width: 370px) and (max-width: 380px){
        @include size(360px, 290px);
      } 
    }
    .productos__xbox{
      background-image: url(../img/xbox/logoxbox.jpg);
      height: $imgChicas;
      background-size: cover;
      background-position: center;
      margin-top: $margin;
      @media (min-width: 370px) and (max-width: 380px){
        @include size(360px, 290px);
      } 
    }
    .producto1{
      background-image: url(../img/games/residentEvil.jpg);
      background-size: cover;
      background-position: center;
      margin-top: $margin;
      @include size (735px, 1010px);
      @media (min-width: 370px) and (max-width: 380px){
        @include size(360px, 450px);
      }
      @media (min-width: 310px) and (max-width: 330px){
        @include size(305px, 400px);
      }
      .producto1__titulo{
        color: $white;
        font-family: 'Anton', sans-serif;
        font-size: 60px;
        text-align: center;
      }
      .producto1__parrafo{
        color: $white;
        font-family: 'Anton', sans-serif;
        font-size: 30px;
        text-align: center;
        padding-top: 650px;
      }
      .producto1__link{
        display: flex;
        justify-content: center;
        color: $white;
        font-size: 20px;
        padding-top: $margin;
      }
    }
    .producto2{
      background-image: url(../img/xbox/gamePass.jpg);
      background-size: cover;
      background-position: center;
      cursor: pointer;
      @include size (350px, 500px);
      margin-top: $margin;
      @media (min-width: 370px) and (max-width: 380px){
        @include size(360px, 290px);
      }
      @media (min-width: 370px) and (max-width: 380px){
        @include size(360px, 290px);
      }
      @media (min-width: 310px) and (max-width: 330px){
        @include size(305px, 280px);
      } 
    }
    .producto2__info{
      background: $greenXbox;
      margin-top: 10px;
      margin-left: -35px;
      cursor: pointer;
      @include size (390px, 500px);
      text-align: center;
      .producto2__info__titulo{
        padding: 40px;
        font-family: 'Lexend Mega', sans-serif;
        color:white;
      }
      .producto2__info__parrafo{
        font-family: 'Lexend Mega', sans-serif;
        color:white;
        padding: 50px;
      }
      .producto2__info__link{
        font-family: 'Lexend Mega', sans-serif;
        color:white;
        padding: 40px;
        font-size: 20px;
      }
      .producto2__info__link:hover{
        color: $green;
      }
    }
    .producto3{
      background-image: url(../img/playStation/psnPlus.jpg);
     background-size: cover;
      background-position: center;
      cursor: pointer;
      @include size (350px, 500px);
      margin-top: $margin;
      @media (min-width: 410px) and (max-width: 430px){
        @include size(410px, 300px);
      } 
      @media (min-width: 370px) and (max-width: 380px){
        @include size(360px, 290px);
      } 
      @media (min-width: 310px) and (max-width: 330px){
        @include size(305px, 250px);
      }
    }
    .producto3__info{
      background: $blue;
      margin-top: 10px;
      margin-left: -35px;
      cursor: pointer;
      text-align: center;
      @include size (390px, 500px);
      .producto3__info__titulo{
        padding: 40px;
        font-family: 'Lexend Mega', sans-serif;
        color:white;
      }
      .producto3__info__parrafo{
        font-family: 'Lexend Mega', sans-serif;
        color:white;
        padding: 50px;
      }
      .producto3__info__link{
        font-family: 'Lexend Mega', sans-serif;
        color:white;
        padding: 40px;
        font-size: 20px;
        
      }
      .producto3__info__link:hover{
        color: $light_blue;
      }
    }
    .imgConsolas{
      background-image: url(../img/ps5-XboxX.jpg);
      background-size: cover;
      background-position: center;
      height: $imgChicas;
      margin-top: $margin;
      @media (min-width: 420px) and (max-width: 430px){
        @include size(410px, 300px);
      }
      @media (min-width: 370px) and (max-width: 380px){
        @include size(360px, 290px);
      }
      @media (min-width: 310px) and (max-width: 330px){
        @include size(305px, 280px);
      } 
      .imgConsolas__titulo{
        text-align: center;
        color: $green;
        font-size: 50px;
        font-family: 'Potta One', cursive;
        @media (min-width: 420px) and (max-width: 430px){
          font-size: $texto_mediano;
        }
        @media (min-width: 370px) and (max-width: 380px){
          font-size: $texto_chico;
        }
        @media (min-width: 310px) and (max-width: 330px){
          font-size: $texto_chico;
        } 
      }
    }
    .producto4{
      background-image: url(../img/games/hitman.jpg);
      height: $imgGrandes;
      background-size: cover;
      background-position: center;
      margin-top: $margin;
      @media (min-width: 420px) and (max-width: 430px){
        @include size(410px, 300px);
      }
      @media (min-width: 370px) and (max-width: 380px){
        @include size(360px, 290px);
      }
      @media (min-width: 310px) and (max-width: 330px){
        @include size(305px, 380px);
      } 
    }
    .producto5{
      background-image: url(../img/games/yakuza.jpg);
      height: $imgGrandes;
      background-size: cover;
      background-position: center;
      margin-top: $margin;
      margin-bottom: $margin;
      @media (min-width: 420px) and (max-width: 430px){
        @include size(410px, 300px);
      }
      @media (min-width: 370px) and (max-width: 380px){
        @include size(360px, 290px);
      }
      @media (min-width: 310px) and (max-width: 330px){
        @include size(305px, 380px);
      } 
    }
    .footer{
      background: $black;
      color: $white;
      @media (min-width: 370px) and (max-width: 380px){
        @include size(375px, 180px);
      }
      @media (min-width: 310px) and (max-width: 330px){
        @include size(320px, 180px);
      } 
      .footer__registro{
        text-decoration: none;
        color: $light_blue;
        @media (min-width: 420px) and (max-width: 430px){
          font-size: $texto_mediano;
          margin-left: 5px;
        }
        @media (min-width: 370px) and (max-width: 380px){
          font-size: $texto_chico;
          margin-left: 5px;
        }
        @media (min-width: 310px) and (max-width: 330px){
          font-size: $texto_chico;
          margin-left: 5px;
        } 
      }
      .footer__lista{
        list-style: none;
      }
      .footer__lista__titulo{
        @media (min-width: 370px) and (max-width: 380px){
          font-size: $texto_mediano;
        }
        @media (min-width: 310px) and (max-width: 330px){
          font-size: $texto_mediano;
        } 
      }
      .footer__lista__parrafo{
        cursor: pointer;
        @media (min-width: 420px) and (max-width: 430px){
          font-size: $texto_chico;
        }
        @media (min-width: 370px) and (max-width: 380px){
          font-size: $texto_chico;
        }
        @media (min-width: 310px) and (max-width: 330px){
          font-size: $texto_chico;
        } 
      }
      .footer__lista__derechos{
        display: flex;
        justify-content: space-between;
      }
    }  
  }
}
