.login {
  background-image: url(../img/background.jpg); }

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #000000; }
  body .container-fluid {
    padding-left: 0%;
    margin-left: 0%; }
    body .container-fluid .nav__logo {
      width: 45px; }
    body .container-fluid .nav__menu__lista a:hover {
      transform: scale(1.2);
      transition: 500ms; }
      @media (max-width: 992px) {
        body .container-fluid .nav__menu__lista a:hover {
          transform: translate(15px); } }
    body .container-fluid .nav__menu__desplegable {
      background: #84d36b;
      border-radius: 2px solid;
      border-color: #19e2e9; }
    body .container-fluid .modal-form {
      border: 1px solid;
      border-color: #19e2e9; }
      body .container-fluid .modal-form .img_avatar {
        width: 200px;
        margin-top: 10px; }
      body .container-fluid .modal-form .form_login {
        padding: 15px; }
      body .container-fluid .modal-form #contrasena-group {
        margin-top: 10px; }
      body .container-fluid .modal-form .form-control {
        background: #19e2e9;
        margin-top: 10px; }
    body .container-fluid .productos__ps {
      background-image: url(../img/playStation/logoPlay.jpg);
      height: 450px;
      background-size: cover;
      background-position: center;
      margin-top: 10px; }
    body .container-fluid .productos__xbox {
      background-image: url(../img/xbox/logoxbox.jpg);
      height: 450px;
      background-size: cover;
      background-position: center;
      margin-top: 10px; }
    body .container-fluid .producto1 {
      background-image: url(../img/games/residentEvil.jpg);
      background-size: cover;
      background-position: center;
      margin-top: 10px; }
      @media (min-width: 992px) {
        body .container-fluid .producto1 {
          height: 700px; } }
      @media (min-width: 1024px) {
        body .container-fluid .producto1 {
          height: 800px; } }
      body .container-fluid .producto1 .producto1__titulo {
        color: #ffffff;
        font-family: 'Anton', sans-serif;
        font-size: 60px;
        text-align: center; }
        @media (min-width: 320px) {
          body .container-fluid .producto1 .producto1__titulo {
            font-size: 20px; } }
      body .container-fluid .producto1 .producto1__parrafo {
        color: #ffffff;
        font-family: 'Anton', sans-serif;
        font-size: 30px;
        text-align: center;
        padding-top: 650px; }
        @media (min-width: 320px) {
          body .container-fluid .producto1 .producto1__parrafo {
            font-size: 20px;
            padding-top: 450px; } }
      body .container-fluid .producto1 .producto1__link {
        display: flex;
        justify-content: center;
        color: #ffffff;
        font-size: 20px; }
    body .container-fluid .producto2 {
      margin-top: 10px;
      background-image: url(../img/xbox/gamePass.jpg);
      background-size: cover;
      background-position: center;
      margin-top: 10px; }
      @media (min-width: 320px) {
        body .container-fluid .producto2 {
          height: 225px;
          background-position: top; } }
      @media (min-width: 375px) {
        body .container-fluid .producto2 {
          height: 265px; } }
      @media (min-width: 992px) {
        body .container-fluid .producto2 {
          height: 350px; } }
      @media (min-width: 1024px) {
        body .container-fluid .producto2 {
          height: 550px; } }
    body .container-fluid .producto2__info {
      background: green;
      cursor: pointer;
      text-align: center; }
      @media (min-width: 320px) {
        body .container-fluid .producto2__info {
          height: 250px; } }
      body .container-fluid .producto2__info .producto2__info__titulo {
        padding: 20px;
        font-family: 'Lexend Mega', sans-serif;
        color: white; }
        @media (min-width: 320px) {
          body .container-fluid .producto2__info .producto2__info__titulo {
            font-size: 20px; } }
      body .container-fluid .producto2__info .producto2__info__parrafo {
        font-family: 'Lexend Mega', sans-serif;
        color: white; }
        @media (max-width: 320px) {
          body .container-fluid .producto2__info .producto2__info__parrafo {
            font-size: 15px; } }
      body .container-fluid .producto2__info .producto2__info__link {
        font-family: 'Lexend Mega', sans-serif;
        color: white;
        padding-top: 10px;
        font-size: 18px; }
      body .container-fluid .producto2__info .producto2__info__link:hover {
        color: #84d36b; }
    body .container-fluid .producto3 {
      margin-top: 10px;
      background-image: url(../img/playStation/psnPlus.jpg);
      background-size: cover;
      background-position: center;
      margin-top: 10px; }
      @media (min-width: 320px) {
        body .container-fluid .producto3 {
          height: 225px;
          background-position: top; } }
      @media (min-width: 375px) {
        body .container-fluid .producto3 {
          height: 265px; } }
      @media (min-width: 992px) {
        body .container-fluid .producto3 {
          height: 350px; } }
      @media (min-width: 1024px) {
        body .container-fluid .producto3 {
          height: 550px; } }
    body .container-fluid .producto3__info {
      background: #2745f0;
      cursor: pointer;
      text-align: center; }
      @media (min-width: 320px) {
        body .container-fluid .producto3__info {
          height: 250px; } }
      body .container-fluid .producto3__info .producto3__info__titulo {
        padding: 30px;
        font-family: 'Lexend Mega', sans-serif;
        color: white; }
        @media (min-width: 320px) {
          body .container-fluid .producto3__info .producto3__info__titulo {
            font-size: 20px; } }
      body .container-fluid .producto3__info .producto3__info__parrafo {
        font-family: 'Lexend Mega', sans-serif;
        color: white;
        text-align: center; }
        @media (min-width: 320px) {
          body .container-fluid .producto3__info .producto3__info__parrafo {
            font-size: 15px; } }
      body .container-fluid .producto3__info .producto3__info__link {
        font-family: 'Lexend Mega', sans-serif;
        color: white;
        font-size: 20px; }
      body .container-fluid .producto3__info .producto3__info__link:hover {
        color: #19e2e9; }
    body .container-fluid .imgConsolas {
      background-image: url(../img/ps5-XboxX.jpg);
      background-size: cover;
      background-position: center;
      height: 450px;
      margin-top: 10px; }
      @media (min-width: 420px) and (max-width: 430px) {
        body .container-fluid .imgConsolas {
          width: 410px;
          height: 300px; } }
      @media (min-width: 370px) and (max-width: 380px) {
        body .container-fluid .imgConsolas {
          width: 360px;
          height: 290px; } }
      @media (min-width: 310px) and (max-width: 330px) {
        body .container-fluid .imgConsolas {
          width: 305px;
          height: 280px; } }
      body .container-fluid .imgConsolas .imgConsolas__titulo {
        text-align: center;
        color: #84d36b;
        font-size: 50px;
        font-family: 'Potta One', cursive; }
        @media (min-width: 310px) {
          body .container-fluid .imgConsolas .imgConsolas__titulo {
            font-size: 13px; } }
        @media (min-width: 370px) {
          body .container-fluid .imgConsolas .imgConsolas__titulo {
            font-size: 13px; } }
        @media (min-width: 420px) {
          body .container-fluid .imgConsolas .imgConsolas__titulo {
            font-size: 13px; } }
    body .container-fluid .producto4 {
      background-image: url(../img/games/hitman.jpg);
      height: 500px;
      background-size: cover;
      background-position: center;
      margin-top: 10px; }
    body .container-fluid .producto5 {
      background-image: url(../img/games/yakuza.jpg);
      height: 500px;
      background-size: cover;
      background-position: center;
      margin-top: 10px;
      margin-bottom: 10px; }
    body .container-fluid .card {
      width: 80%;
      margin-top: 10px; }
    body .container-fluid .card__img:hover {
      transition: 500ms;
      transform: scale(1.2); }
    body .container-fluid .productosXbox__titulo {
      font-family: 'DotGothic16', sans-serif;
      padding-top: 40px;
      color: green;
      font-size: 50px; }
    body .container-fluid .productosPS__titulo {
      font-family: 'DotGothic16', sans-serif;
      padding-top: 40px;
      color: #19e2e9;
      font-size: 50px; }
    body .container-fluid .modal {
      text-align: center; }
      body .container-fluid .modal .version {
        background: #afafaf;
        border-radius: 20px; }
      body .container-fluid .modal .modal-title {
        color: green; }
    body .container-fluid .footer {
      margin-top: 200px; }
    body .container-fluid .footer, body .container-fluid .derechos {
      background: #000000;
      color: #ffffff; }
      body .container-fluid .footer .footer__registro, body .container-fluid .derechos .footer__registro {
        text-decoration: none;
        color: #19e2e9; }
        @media (min-width: 420px) and (max-width: 430px) {
          body .container-fluid .footer .footer__registro, body .container-fluid .derechos .footer__registro {
            font-size: 13px;
            margin-left: 5px; } }
        @media (min-width: 370px) and (max-width: 380px) {
          body .container-fluid .footer .footer__registro, body .container-fluid .derechos .footer__registro {
            font-size: 10px;
            margin-left: 5px; } }
        @media (min-width: 310px) and (max-width: 330px) {
          body .container-fluid .footer .footer__registro, body .container-fluid .derechos .footer__registro {
            font-size: 10px;
            margin-left: 5px; } }
      body .container-fluid .footer .footer__lista, body .container-fluid .derechos .footer__lista {
        list-style: none; }
      @media (min-width: 370px) and (max-width: 380px) {
        body .container-fluid .footer .footer__lista__titulo, body .container-fluid .derechos .footer__lista__titulo {
          font-size: 13px; } }
      @media (min-width: 310px) and (max-width: 330px) {
        body .container-fluid .footer .footer__lista__titulo, body .container-fluid .derechos .footer__lista__titulo {
          font-size: 13px; } }
      body .container-fluid .footer .footer__lista__parrafo, body .container-fluid .derechos .footer__lista__parrafo {
        cursor: pointer; }
        @media (min-width: 420px) and (max-width: 430px) {
          body .container-fluid .footer .footer__lista__parrafo, body .container-fluid .derechos .footer__lista__parrafo {
            font-size: 10px; } }
        @media (min-width: 370px) and (max-width: 380px) {
          body .container-fluid .footer .footer__lista__parrafo, body .container-fluid .derechos .footer__lista__parrafo {
            font-size: 10px; } }
        @media (min-width: 310px) and (max-width: 330px) {
          body .container-fluid .footer .footer__lista__parrafo, body .container-fluid .derechos .footer__lista__parrafo {
            font-size: 10px; } }
      body .container-fluid .footer .footer__lista__derechos, body .container-fluid .derechos .footer__lista__derechos {
        display: flex;
        justify-content: space-between; }
    body .container-fluid .desing {
      background-color: #aaa5a5;
      padding: 1%; }
      body .container-fluid .desing p {
        color: #000000; }
      body .container-fluid .desing .name {
        font-family: 'Pacifico', cursive;
        font-size: 25px;
        color: #914242; }
